<div class="container">
  <h1 class="text-center mb-3">Todos List by Gopi Mudumal</h1>
  <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>

  <div *ngIf="this.todos.length > 0; else elseBlock">
    <h4>Your Todos</h4>
    <div *ngFor="let todo of todos; let i = index">
      <app-todo-item
        [todo]="todo"
        [index]="i"
        (todoDelete)="deleteTodo($event)"
        (todosCheckBox)="checkedTodo($event)"
      ></app-todo-item>
    </div>
  </div>

  <ng-template #elseBlock>
    <h3>No Todos to display</h3>
  </ng-template>
</div>
